[Unit]
Description=rust_http_proxy
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/tmp
EnvironmentFile=/etc/rust_http_proxy/env
ExecStart=/usr/bin/rust_http_proxy
LimitNOFILE=100000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target